    <template>
  <div class="container">
    <div class>
      <!-- <h2>Documents to Sign</h2> -->
      <div style="text-align:center">
        <table class="table fluid table-borderless">
          <!-- <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>-->
          <tbody>
            <tr v-for="document in documents" v-bind:key="document.id">
              <td>{{ document.name }}</td>
              <td>{{ getStatusDescription(document.status) }}</td>
              <td>
                <a
                  v-bind:href="'/attachment/'+document.attachments[0].uuid"
                  v-bind:target="document.name"
                  v-if="document.status == 'Completed' && document.attachments.length"
                >📃 View</a>
                <a
                  v-bind:href="'/document/'+document.id"
                  v-bind:target="document.name"
                  v-else
                >📃 Preview</a>
              </td>
            </tr>
          </tbody>
        </table>

        <span class="spinner-border spinner-border-sm" role="status" v-if="loading"></span>
      </div>
    </div>
  </div>
</template>

<script>
const INITIAL_FORM = {
  email: "",
  subject: "",
  body: "",
  message: "",
  dispatched: false // if true it means that the user already tried to submit the form.
};
export default {
  mounted() {
    this.getDocuments();
  },

  data() {
    return {
      loading: true,
      documents: []
    };
  },
  watch: {},
  methods: {
    sendNDA() {
      this.loading = true;
      console.log(this);

      axios
        .post(`/send-me-nda`)
        .then(response => {
          console.log(response.data);
          this.documents.push(response.data);
          this.loading = false;
        })
        .catch(error => {
          console.error(error);
          this.loading = false;
        });
    },
    getDocuments() {
      this.loading = true;
      console.log(this);
      axios
        .get(`/documents`)
        .then(response => {
          console.log(response.data);
          this.documents = response.data;
          this.loading = false;
        })
        .catch(error => {
          console.error(error);
          this.loading = false;
        });
    },
    getStatusDescription(status) {
      switch (status.toLowerCase()) {
        case "sent":
          return "Sent";
        case "delivered":
          return "All the recipients have viewed the document.";
        case "voided":
          return "The sender canceled the envelope before it was completed.";
        case "declined":
          return "The client has declined to sign.";
        case "completed":
          return "The document was signed completely.";
        default:
          return status;
      }
    }
  }
};
</script>
