<template>
  <div class="container">
    <div class>
      <div class>
        <h2>Contact Us</h2>

        <div class>
          <form @submit.prevent="sendMessage()">
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
                v-model="form.email"
                required="true"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Subject</label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Subject"
                v-model="form.subject"
                required="true"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Body</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                v-model="form.body"
                required="true"
              ></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const unique = "some_unique_key";
const INITIAL_FORM = {
  email: "",
  subject: "",
  body: "",
  message: "",
  dispatched: false // if true it means that the user already tried to submit the form.
};
export default {
  mounted() {
    console.log("Component mounted with data");
    if (this.form && this.form.dispatched) {
      console.log("retrying submit with data:", this.form);
      this.sendMessage();
    }
    console.log("not retrying to submit with data:", this.form);
  },

  data() {
    const local = localStorage.getItem(unique);

    return {
      form:
        typeof local != "undefined" && local != null
          ? JSON.parse(local)
          : INITIAL_FORM,
      someotherProp: ""
    };
  },
  watch: {
    form: {
      handler: function(newForm, old) {
        console.log("cha", newForm);

        localStorage.setItem(unique, JSON.stringify(newForm));
      },
      deep: true
    }
  },
  methods: {
    sendMessage() {
      console.log(this);

      axios
        .post(`/crsf-test`)
        .then(response => {
          console.log(response.data);
          alert("no error 🙂");
          // clear form
          this.form = INITIAL_FORM;
          localStorage.setItem(unique, JSON.stringify(INITIAL_FORM));
        })
        .catch(error => {
          if (error.response) {
            if (
              error.response.status === 419 ||
              error.response.status === 401
            ) {
              this.form.dispatched = true;
              this.form.message =
                "Token no longer valid. Updated now. Please try again.";

              console.log(this.form);
              localStorage.setItem(unique, JSON.stringify(this.form));
              window.location.reload();
              // the app must be able to handle login flow to the protected routes
            }
          }
        });
    }
  }
};
</script>
