<template>
  <div class>
    <div class="btn-group dropdown dropdown-large">
      <a
        data-toggle="dropdown"
        id="notifications-bell"
        class="nav-link mb-0 text-primary"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i
          class="fas fa-bell"
          style="line-height:1.5"
          v-if="notifications.filter(n=>!n.read_at).length"
        ></i>
        <i class="far fa-bell" style="line-height:1.5" v-else></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" style="width:25rem;height:600px;overflow:scroll;" >
        <div>
          <div class="text-center" v-if="!notifications.length">Nothing here.</div>
          <div class="list-group-flush m-0">
            <span v-for="notification in notifications" v-bind:key="notification.id">
              <a
                v-bind:href="'view/notification/'+notification.id"
                class
                style="text-decoration:none;"
              >
                <div class="media list-group-item-action m-0 p-1">
                  <img class="align-self-start rounded-circle mx-2" style="width:40px" src="/storage/document-1.png" />
                  <div class="media-body">
                    <div>
                      <!-- <span class="font-weight-bold pb-0"><?php echo $notification->title ?></span> -->
                      <!-- <br> -->
                      <span class="mb-1">{{ getNotificationBody(notification) }}</span>
                      <br />
                      <small class="m-0 b-0">{{new Date(notification.created_at).toDateString()}}</small>
                    </div>
                  </div>
                </div>
              </a>
            </span>
            <!-- <a
              class="list-group-item list-group-item-action"
              href="/view/notifications/"
            >All Notifications</a>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Position it -->
    <div
      id="toasts-area"
      class="p-2"
      style="position: fixed;z-index:1000; bottom: 0; right: 0;min-width:300px"
    >
      <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; bottom: 0; right: 0;">
          <!-- toast -->
          <div
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-delay="5000"
            class="toast"
          >
            <div class="toast-header">
              <img src class="rounded mr-2" alt />
              <strong class="mr-auto toast-title">Bootstrap</strong>
              <!-- <small>11 mins ago</small> -->
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">Hello, world! This is a toast message.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getNotifications();

    // listen for notifications. the best way would be to keep the listerner on app level but since this will be moved to another app let's keep it here.
    window.messaging.onMessage(payload => {
      console.log("Message received. ", payload);

      $("#notifications-bell").addClass("text-danger");
      this.getNotifications();
      $(".toast-title").text(payload.notification.title);
      $(".toast-body").text(payload.notification.body);
      $(".toast").toast("show");
    });
  },

  data() {
    return {
      loading: true,
      notifications: []
    };
  },
  watch: {
    notifications: {
      handler: function(newForm, old) {
        console.log("cha", newForm);
      },
      deep: true
    }
  },
  methods: {
    getNotifications() {
      this.loading = true;
      console.log(this);
      axios
        .get(`/notifications`)
        .then(response => {
          console.log(response.data);
          this.notifications = response.data;
          this.loading = false;
        })
        .catch(error => {
          console.error(error);
          this.loading = false;
        });
    },
    getNotificationBody(notifcation) {
      if (
        notifcation.type == "App\\Notifications\\DocumentAttachedNotification"
      ) {
        return `A document ${notifcation.data.name} has been attached which needs your signature.`;
      }
      else if (notifcation.type == "App\\Notifications\\DocumentSignedByClient"){

        return `Document ${notifcation.data.name} has been signed by the client.`;
      }
    }
  },
  computed: {}
};
</script>
