<template>
  <div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" class="form-control" v-model="phoneNumber" v-on:input="onChange" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      phoneNumber: ""
    };
  },
  watch: {},
  methods: {
    onChange(e) {
      const x = e.target.value
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      this.phoneNumber = !x[2]
        ? x[1]
        : `(${x[1]}) ${x[2]}` + (x[3] ? ` - ${x[3]}` : "");
    }
  }
};
</script>
