<template>
  <div>
    <div class="container">
      <div class>
        <!-- <h2>Templates</h2> -->
        <div style="text-align:center">
          <table class="table fluid table-borderless">
            <!-- <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>-->
            <tbody>
              <tr v-for="template in templates" v-bind:key="template.template_id">
                <td>{{ template.name }}</td>
                <td>{{ template.description }}</td>
                <td>
                  <a
                    v-bind:href="'/template/'+template.template_id"
                    v-bind:target="template.name"
                  >📃 Preview</a>
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  <button
                    class="btn btn-primary"
                    @click="sendDocument(template)"
                    v-bind:data-template-id="template.template_id"
                  >Send</button>
                </td>
              </tr>
            </tbody>
          </table>

          <span class="spinner-border spinner-border-sm" role="status" v-if="loading"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getTemplates();
  },

  data() {
    return {
      loading: true,
      currentTemplate: null,
      clientEmail: "",
      templates: []
    };
  },
  watch: {},
  methods: {
    setCurrentTemplate(template) {
      this.currentTemplate = template;
      console.log("template id is now", this.currentTemplate);
    },
    sendDocument(template) {
      //   this.loading = true;
      console.log(this);

      this.currentTemplate = template;
      swal({
        text: "Please enter the email address of the client.",
        content: "input",
        button: {
          text: "Send",
          closeModal: false
        }
      })
        .then(email => {
          return axios.post(`/new-ticket`, {
            email: email,
            templateId: this.currentTemplate.template_id,
            templateName: this.currentTemplate.name
          });
        })
        .then(json => {
          swal({
            title: "Successfully Sent",
            text: name,
            icon: "/storage/document-1.png"
          });
        })
        .catch(err => {
          if (err) {
            console.log(err.response);
            swal(
              "Oh noes!",
              err.response.data && err.response.data.errors
                ? err.response.data.errors["email"][0]
                : "Something went wrong.",
              "error"
            );
          } else {
            swal.stopLoading();
            swal.close();
          }
        });
    },
    getTemplates() {
      this.loading = true;
      console.log(this);
      axios
        .get(`/templates`)
        .then(response => {
          console.log(response.data);
          this.templates = response.data;
          this.loading = false;
        })
        .catch(error => {
          console.error(error);
          this.loading = false;
        });
    }
  }
};
</script>
